.App {
  overflow: hidden;
}

.just-background {
  overflow: hidden;
  background: url("scroll.png");
  width: 110%;
  height: 110%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -100;
  animation: slide 7s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(0, -100px, 0);
  }
  100% {
    transform: translate3d(-100px, 0, 0);
  }
}